@use "../scss/colors";

#servicesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 1.5rem;
  grid-template-areas: "nav" "content";

  .servicesNav {
    grid-area: nav;
  }

  .servicesContent {
    grid-area: content;
  }
}
