@use "../scss/colors";

#container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5svh;
  grid-template-rows: 1fr;
  row-gap: 1.5rem;
  grid-template-areas: "nav content";

  @media screen and (max-width: 953) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "nav"
      "content";
  }

  > nav {
    grid-area: nav;
    padding-right: 1.5rem;
    border-right: solid 1px rgba(colors.$white, 0.3);

    @media screen and (max-width: 953) {
      border-right: none;
    }
  }

  > div {
    grid-area: content;
  }
}
