@use "../scss/colors";

#container {
  display: grid;
  grid-template-columns: 17.5vw 1fr;
  column-gap: 5svh;
  grid-template-rows: 1fr;
  row-gap: 1.5rem;
  grid-template-areas: "nav content";

  > nav {
    grid-area: nav;
    padding-right: 1.5rem;
    border-right: solid 1px rgba(colors.$white, 0.3);
  }

  > div {
    grid-area: content;
  }
}
