$blue-0: #001a2e;
$blue-1: #002b4d;
$blue-2: #003d6e;
$blue-3: #004e8f;
$blue-4: #005fa3;
$blue-5: #006eb8;
$blue-6: #007fc2;
$blue-7: #008fd7;
$blue-8: #009fe2;
$blue-9: #00afe8;
$blue-10: #00c2f3;

$white: #ebebeb;
$black: #171717;
