@use "../scss/colors";

#contactLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  a {
    display: block;
    padding: 0.8rem 1.25rem;
    font-weight: 500;
    border-radius: 100px;
    background-color: colors.$blue-3;

    transition: background-color 0.2s, color 0.2s ease-out;

    &:hover {
      background-color: colors.$white;
      color: colors.$black;
    }
  }

  a.active {
    background-color: colors.$white;
    color: colors.$black;
  }
}
