@use "../scss/colors";

#contactContainer {
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "content";

  > nav {
    grid-area: nav;
  }

  > div {
    grid-area: content;

    display: flex;
    justify-content: center;
  }
}
