@use "../scss/colors";

#contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  > * {
    max-width: 768px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

#message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  p {
    text-align: center;
    line-height: 1.5;
    font-size: 1.1rem;
  }

  #calendlyButton {
    background-color: colors.$white;
    border-radius: 50px;
    border: solid 2px;
    font-weight: 500;
    font-size: 1.1rem;
    width: fit-content;
    padding: 0.7rem 1.2rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    transition:
      background-color 0.2s,
      color 0.2s ease-out;

    svg {
      fill: colors.$black;
      width: 1.5rem;
      height: 1.5rem;
    }

    span {
      color: colors.$black;
    }

    &:hover {
      background-color: transparent;

      span {
        color: colors.$white;
      }
    }
  }
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;

  #social {
    svg {
      width: 3rem;
      height: auto;
    }
  }
}
