@use "../../../scss/colors";

#collaboratorPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 4vw;
  grid-template-areas: "presentation" "content";
}

#presentation {
  grid-area: presentation;

  display: flex;
  gap: 4vw;

  figure {
    width: 25%;

    img {
      aspect-ratio: 1/1;
      width: 100%;
      border-radius: 200px;
      object-fit: cover;
    }
  }

  #collaboratorInfos {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    #name {
      font-size: 3rem;
    }

    #description {
      line-height: 1.4;
    }
  }

  #socials {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    svg {
      width: 3rem;
      height: auto;
      vertical-align: middle;
    }
  }
}

#content {
  grid-area: content;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  #collaboratorAudios {
    ul {
      display: flex;
      gap: 3rem 1.5rem;
      flex-wrap: wrap;
    }

    .audio {
      width: calc(33% - ((2.25rem * 2) / 3));
      background-color: colors.$blue-2;
      border-radius: 10px;
      overflow: hidden;

      display: flex;
      flex-direction: column;

      div.audioInfo {
        padding: 1rem;
        display: flex;
        gap: 1rem;

        .audioPictureContainer {
          width: 35%;

          img {
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 10px;
            object-fit: cover;
          }
        }

        div.audioDescription {
          width: 65%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          font-weight: 500;
          font-size: 0.9rem;

          h2 {
            line-height: 1.4;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 0.2rem;
          }

          span:first-of-type {
            text-transform: capitalize;
            font-weight: 300;
          }
        }
      }

      footer {
        padding: 1rem;
        background-color: colors.$blue-1;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            display: flex;

            svg {
              vertical-align: middle;
              height: 2rem;
              width: auto;
            }
          }
        }
      }
    }
  }

  #collaboratorGallery {
    ul {
      display: flex;
      gap: 0.7rem;
      flex-wrap: wrap;

      li {
        width: calc(16.66% - ((0.7rem * 5) / 6));

        a {
          display: block;
          position: relative;

          &:hover {
            img {
              filter: brightness(0.3) grayscale(0.8);
            }
            svg {
              opacity: 1;
            }
          }
        }

        img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
          border-radius: 10px;
          transition: filter 0.2s ease-out;
        }

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 22%;
          height: auto;
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }
      }
    }
  }

  #collaboratorVideos {
    ul {
      display: flex;
      gap: 2.5rem 1.5rem;
      flex-wrap: wrap;

      li {
        width: calc(25% - ((1.5rem * 3) / 4));
      }

      a {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        img {
          width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          border-radius: 10px;
        }

        h4 {
          font-weight: 400;
        }

        &:hover h4 {
          text-decoration: underline solid 1.5px;
          text-underline-offset: 2px;
        }
      }
    }
  }
}
