@use "../scss/colors";

#blogList {
  grid-area: list;

  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;

  li {
    width: calc(33% - ((3rem * 2) / 3));
  }

  a {
    height: 100%;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      border-radius: 15px 15px 0 0;
    }

    div {
      flex-grow: 1;
      border-radius: 0 0 15px 15px;
      padding: 1.5rem 2rem;
      background-color: colors.$blue-1;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h4 {
        font-weight: 600;
      }

      h3 {
        font-size: 1.35rem;
        line-height: 1.3;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      span {
        margin-top: auto;
      }
    }
  }
}
