@use "../scss/colors";

#setupContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
  grid-template-rows: 1fr;

  grid-template-areas: "filters" "setup";

  @media screen and (max-width: 1141) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "filters"
      "setup";
    row-gap: 3rem;
  }
}

#filters {
  grid-area: filters;
}
