@use "scss/colors";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    height: 100%;

    a {
      display: block;
      height: 100%;
      border-radius: 100px;

      img {
        height: 100%;
      }
    }
  }

  nav {
    border-radius: 100px;
    background-color: colors.$white;
    position: fixed;
    top: 2.25rem;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0 0 30px colors.$black;
  }

  ul {
    align-self: stretch;
    display: flex;

    li:first-child {
      a {
        border-radius: 100px 0 0 100px;
      }
    }
    li:last-child {
      a {
        border-radius: 0 100px 100px 0;
      }
    }

    a {
      display: block;
      min-width: max-content;
      padding: 0.2rem;

      &:hover {
        span {
          background-color: colors.$blue-1;
          color: colors.$white;
        }
      }

      span {
        display: block;
        border-radius: 100px;
        padding: 0.8rem 1.25rem;
        font-weight: 600;
        color: colors.$black;

        transition: background-color 0.2s, color 0.2s;
      }
    }

    a.active {
      span {
        background-color: colors.$blue-1;
        color: colors.$white;
      }
    }
  }
}
