@use "../scss/colors";

#pageContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4vw;
  grid-template-rows: auto;
  row-gap: 2svh;
  grid-template-areas: "aside events";

  @media screen and (max-width: 1250) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "aside"
      "events";
    row-gap: 4svh;
  }
}

#filters {
  grid-area: aside;
}

#eventsContainer {
  grid-area: events;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  #eventsHeader,
  #eventsFooter {
    display: none;
    // display: flex;
    align-items: center;
    justify-content: center;

    svg {
      vertical-align: middle;
      width: 1.5rem;
      height: auto;
    }

    button {
      display: block;
      aspect-ratio: 1/1;
      width: 2.5rem;
      border-radius: 50px;

      position: relative;
      transition: background-color 0.2s ease-out;

      span {
        font-size: 1.5rem;
        color: colors.$white;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: colors.$blue-3;
      }
    }

    button.active {
      background-color: colors.$white;

      span {
        color: colors.$black;
      }
    }
  }
}

#eventsList {
  grid-area: setup;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;

  li {
    min-width: min-content;
    width: calc(25% - ((2rem * 3) / 4));

    @media screen and (max-width: 2260) {
      width: calc(33% - ((2rem * 2) / 3));
    }

    @media screen and (max-width: 1762) {
      width: calc(50% - (2rem / 2));
    }

    @media screen and (max-width: 781) {
      width: 100%;
    }
  }
}

.event {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;

  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: colors.$blue-2;
  }
}

.eventPicture {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 7px;
  width: 150px;
}

.eventContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .eventDates {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > * {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .eventType {
    letter-spacing: 0.3;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.25;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;

    svg {
      width: 1rem;
      height: auto;
      vertical-align: middle;
    }

    span {
      font-size: 0.9rem;
      width: max-content;
    }
  }
}
